#form-container {
    background-color: $grey;
    padding: 50px 30px;
    h2 {
        width: 100%;
        text-align: left;
        font-family: "Lato", sans-serif;
        color: $red;
        font-weight: 400;
        font-size: 25px;
        margin-bottom: 25px;
    }
}