#nav-background {
    height: 150px;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 9%, rgba(230,224,223,1) 23%, rgba(194,180,176,1) 40%, rgba(171,152,146,1) 53%, rgba(69,28,16,1) 100%);
}
.shop-product {
    #shop-img {
        width: 100%;
    }
}